.input-wrapper {
  position: fixed;
  display: inline-flex;
  bottom: 10px;
  width: 100%;
  /* height: 40px; */
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #f9f0f0;
  padding: 10px;
}

.input {
  border: 0px;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
