.quick_reply_btn {
  background: #2a2d35 !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 10px 20px !important;
  margin-bottom: 10px;
}

/* .btn {
  color: #fff;
} */
