.list_wrapper {
  background: #222222;
  border: 1px;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 5px;
  width: 70%;
}
.list-btn {
  background-color: #9c5fc6 !important;
  color: #fff !important;
}
